.timeline {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.timeline-item {
  display: grid;
  grid-template-columns: 1fr 20px 2fr;
  align-items: flex-start;
  gap: 20px;
}

.timeline-item:last-of-type .timeline-separator::before {
  content: none;
}

.timeline-left {
  text-align: right;
}

.timeline-left .year {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.timeline-left .role {
  letter-spacing: 1px;
}

.timeline-separator {
  position: relative;
}

.timeline-separator::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 180px;
  top: 9px;
  left: 9px;
  background: #f1f1f1;
  z-index: -1;
}

.timeline-right {
  text-align: left;
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 8px;
  margin-right: 16px;
}

.company {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.company-container i {
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.slideInRight {
  opacity: 0;
  transform: translateX(80px);
}

.slideInRightVisible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.2s ease-out;
}

.slideInLeft {
  opacity: 0;
  transform: translateX(-50px);
}

.slideInLeftVisible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.2s ease-out;
}
